* {
    margin: 0;
    border: 0;
    padding: 0;
}

#presentacion, #opiniones, #cosas, #noSabe, #peque, #momentos, #porLas, #agra, #deseo, #debo, #men, #poema, #idolo {
    background-color: bisque;
}